<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://i.stack.imgur.com/luaq2.png"
      alt=""
      height="200px"
      srcset=""
    >
  </div>


    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versao do angular</a></h1>
    </div>

    <div class="big-card__desc">
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non purus ex.
        Duis id rhoncus est. Fusce dolor eros, pharetra sit amet metus ac, aliquam rhoncus
        diam. Phasellus id varius arcu, vehicula tristique sapien. Maecenas ligula elit,
        cursus congue dignissim vel.
      </a>
    </div>



</div>
