.container__content{
  border: 1px solid white;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content__cover > img{
  border: 5px solid #595959;
  border-radius: 5px;
  width: 600px;
  min-width: 500px;
  height: 300px;
}

.content__desc{
  margin-top: 15px;
}

.content__desc > p{
  color: #c7c7c7;
}
